* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* --------------- Header ----------------*/
header {
    overflow: hidden;
    padding: 15px 0;
    background-color: #343a40;
}
header .logo {
    float: left;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.header-link {
    color: white;
    font-size: 16px;
    opacity: 0.5;
    text-decoration: none;
    padding: 8px;
    line-height: 24px;
}
.header-right {
    float: right;
}
.active {
    opacity: 1;
}
.header-link:hover{
    opacity: 1;
}
.header-wrap {
    width: 80%;
    height: 24px;
    display: block;
    margin: 0 auto;
}
/* --------------- Welcome-block ----------------*/
.welcome {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: #e9ecef;
    border-radius: 3px;
    color: #343a40;
    height: 400px;
    width: 80%;
    margin: 24px auto;
}
.welcome h1 {
    font-size: 60px;
    font-weight: 300;
    padding-left: 40px;
}
.welcome p {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 40px 0 40px;
    line-height: 24px;
}
.welcome button {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 14px 24px;
    border-radius: 4px;
    margin: 20px 0 0 40px;
}
/* --------------- Cards ----------------*/
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 260px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cccccc;
}
.card > h2 {
    margin-top: 15px;
}
.card > p {
    text-align: center;
    margin: 10px 0px 0px 0px;
    width: 260px;
}
.card-img {
    height: 170px;
}
.card-button {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 6px 12px;
    border-radius: 4px;
}
.button-bg {
    background-color: #f8f8f8;
    border-top: 1px solid #cccccc;
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.card-wrap {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}
section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
/* --------------- Footer ----------------*/
footer {
    background-color: #343a40;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
